/*
#teaching table thead { display: none; }
#teaching h2 { float: left; }
#teaching .right { float: right; }

#comments {
    padding: 0 !important;
}

html {
  font-size: 13px!important;
}

@media screen and (min-width: 58em) {
  html {
    font-size: 14px!important;
  }
}

p {
  margin-top: 0.7rem!important;
}

li.publication {
  list-style: none;
}
*/

p {
  text-align: justify;
}

blockquote footer {
  margin: 0;
  padding: 0;
}

.footnotes hr {
  margin: 20px 0px !important;
  background: #d6d6d6 !important;
  background-image: none !important;
}

.article-style figure {
  margin-top: 30px;
  margin-bottom: 30px;
}

.article-style figure figcaption p {
  text-align: center;
}

.article-style figure img {
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  border: 1px solid rgba(0,0,0,.09);
  border-radius: 3px;
}

.universal-wrapper {
    padding-top: 1px !important;
}
