#teaching table thead { display: none; }
#teaching h2 { float: left; }
#teaching .right { float: right; }

#comments {
    padding: 0 !important;
}

.universal-wrapper {
    padding-top: 20px !important;
}
