<link rel="apple-touch-icon" sizes="180x180" href="{{"apple-touch-icon.png?v=9B9myNRWna" | relURL}}">
<link rel="icon" type="image/png" sizes="32x32" href="{{"favicon-32x32.png?v=9B9myNRWna" | relURL}}">
<link rel="icon" type="image/png" sizes="16x16" href="{{"favicon-16x16.png?v=9B9myNRWna" | relURL}}">
<link rel="manifest" href="{{"site.webmanifest?v=9B9myNRWna" | relURL}}">
<link rel="mask-icon" href="{{"safari-pinned-tab.svg?v=9B9myNRWna" | relURL}}" color="#5bbad5">
<link rel="shortcut icon" href="{{"favicon.ico?v=9B9myNRWna" | relURL}}">

<meta name="apple-mobile-web-app-title" content="{{ .Site.Title }}">
<meta name="application-name" content="{{ .Site.Title }}">

<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
