<nav class="menu">
    <ul class="menu__inner">
        {{- $currentPage := . -}}
        {{ range .Site.Menus.main -}}
            <li>
            {{ if strings.Contains .URL "https://cal.com/" }}
                {{- $dataCalLink := replace .URL "https://cal.com/" "" -}}
                <a data-cal-link="{{ $dataCalLink }}" href="#">{{ .Name }}</a>
            {{ else }}
                <a href="{{ .URL | relLangURL }}">{{ .Name }}</a>
            {{ end }}
            </li>
        {{- end }}
        {{- if .Site.Params.EnableGlobalLanguageMenu }}
        <div class="submenu">
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">{{ .Language }}</a>
                <div class="dropdown-content">
                    {{ if .Site.IsMultiLingual }}
                        {{ range $.Translations }}
                            <a title="{{ .Language }}" href="{{ .Permalink }}">{{ .Language }}</a>
                        {{ end }}
                    {{ end }}
                </div>
            </li>
        </div>
        {{- end }}
    </ul>
</nav>
